@charset "UTF-8";
/****** General ***********/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #9356DC;
  --main-bg-color: #FF79DA;
  --filter-bg-color: #99E2D0;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
}

.main-container {
  max-width: 1440px;
  box-sizing: border-box;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/* Small devices (phones, less than 768px) */
/****** header ***********/
header {
  width: 100%;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header .logo_return {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding-top: 30px;
}

header .return {
  margin-top: 40px;
  font-size: 20px;
  color: #353535;
  width: 20%;
}

header .logo {
  float: center;
  width: 197px;
  font-family: "Shrinkhand", sans-serif;
  height: 36px;
  margin-top: 30px;
}

header .image_palette {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

header .palette_img {
  padding-top: 50px;
  width: 100%;
}

header .logo_site {
  font-family: "Shrikhand", sans-serif;
  font-weight: 550;
  font-size: 30px;
  font-style: italic;
  line-height: 43.74px;
  color: #101010;
}

/****** Menu La  Palette du goût ***********/
.menu {
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  margin-top: -50px;
  padding-bottom: 30px;
}

.card-title {
  font-family: "Shrikhand", sans-serif;
  font-style: italic;
  font-size: 28px;
  color: #101010;
  line-height: 40.82px;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.titre_menu {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
}

.like {
  font-size: 25px;
}

.titre-menu {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18.75px;
  color: #000000;
  border-bottom: 3px #99E2D0 solid;
  padding-bottom: 5px;
  width: 10%;
}

.title_menu {
  display: flex;
  flex-direction: column;
}

.line {
  width: 40px;
  color: #99E2D0;
  border: 3px;
}

.section-menu {
  display: flex;
  flex-direction: column;
  align-items: normal;
  margin-top: 20px;
  background: none;
  margin-bottom: 50px;
  width: 95%;
  margin-left: 10px;
}

.menu-choix {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.menu_validation {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.bouton-choix {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 21.13px;
  color: #000000;
}

.bouton-menu {
  width: 100%;
  background-color: #F6F6F6;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px 15px 15px 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-decoration: none;
  padding-bottom: 15px;
  padding-top: 15px;
  gap: 8px;
  padding-left: 15px;
}

.description {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15.04px;
  line-height: 17.63px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
}

.description_choix {
  width: 100%;
}

.description_prix {
  display: flex;
  flex-direction: row;
  align-items: normal;
  width: 100%;
}

.price_check {
  width: 10%;
}

.prix {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15.04px;
  line-height: 17.63px;
}

.check {
  width: 20px;
  height: 20px;
  color: #99E2D0;
  border-radius: 50%;
  border: 1px #D9D9D9 solid;
  text-align: center;
  background: white;
  margin-right: 10px;
  padding: 2px;
}

.btn_commander {
  background-color: white;
  border: 2px #D9D9D9 solid;
  border-radius: 25px 25px 25px 25px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21.13px;
  color: #FFFFFF;
  text-align: center;
  height: 50px;
  box-sizing: border-box;
  background-image: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: 186px;
}

.btn_commander:hover {
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2509803922);
  background-image: linear-gradient(#FF79DA, #FF79DA);
}

.validation_choix {
  opacity: 0;
  width: 0px;
  background-color: #99E2D0;
  text-align: center;
  margin-left: -80px;
  border-radius: 0px 15px 15px 0px;
  padding-top: 20px;
  padding-left: 10px;
  transition-property: all;
  transition-duration: 2s;
}

.menu_validation:active .validation_choix {
  opacity: 1;
  width: 80px;
  margin-left: 0px;
}

.menu_validation:active .price_check {
  margin-left: -50px;
}

.check {
  width: 20px;
  height: 20px;
  color: #99E2D0;
  border-radius: 50%;
  border: 1px #D9D9D9 solid;
  text-align: center;
  background: white;
  margin-right: 10px;
  padding: 2px;
}

.commander {
  text-align: center;
}

.menu-rating .like {
  font-size: 25px;
  margin-top: 15px;
  margin-right: 20px;
  opacity: 1;
  color: #9747ff;
}

.menu-rating .full-heart {
  display: none;
  font-size: 25px;
  margin-top: 15px;
  margin-right: 20px;
  opacity: 1;
  color: #9747ff;
  transition-property: all;
  transition-duration: 2s;
}

.menu-rating:active .full-heart {
  display: block;
}

.menu-rating:active .like {
  display: none;
}

/****** footer ***********/
footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  background-color: #353535;
  padding-left: 20px;
  height: 200px;
}

footer .footer_choix {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer .footer_logo {
  font-family: shrinkland;
  font-style: italic;
  font-size: 24px;
  color: #FFFFFF;
}

footer .proposition {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}

footer .partenaire {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

footer .fork {
  font-size: 16px;
  color: #FFFFFF;
}

footer .hand {
  font-size: 16px;
  color: #FFFFFF;
}

footer .texte_footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 100%;
  white-space: nowrap;
}

fooeter legal_footer {
  text-overflow: clip;
  text-align: center;
}

/*Animations des menus */
.menu-choix {
  opacity: 0;
  transform-origin: top;
  animation: slide 2s 1200ms;
  opacity: 1;
}

@keyframes slide {
  0% {
    transform: scaleY(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleY(0.18);
  }
  24% {
    transform: scaleY(0.4);
  }
  46% {
    transform: scaleY(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleY(1);
  }
}
/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Large devices (tablets, desktop less/equal than 1440px) */
@media (min-width: 767.98px) {
  /****** Header *******/
  header .logo_return {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-top: 30px;
    gap: 80px;
  }
  header .palette_img {
    padding-top: 50px;
    padding-top: 50px;
    width: 100%;
  }
  /*****Menu La Palette du goût ********/
  .menu {
    width: 70%;
    background-color: #F6F6F6;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    margin-top: -50px;
    padding-bottom: 30px;
    margin-left: 200px;
  }
  .titre-menu {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 18.75px;
    color: #000000;
    border-bottom: 3px #99E2D0 solid;
    padding-bottom: 5px;
    width: 5%;
  }
  .section-menu {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-top: 20px;
    background: none;
    margin-bottom: 50px;
    width: 80%;
    margin-left: 80px;
  }
  .bouton-menu {
    display: flex;
    flex-direction: column;
  }
  .description_prix {
    display: flex;
    flex-direction: row;
    align-items: normal;
  }
  .description_choix {
    width: 100%;
  }
  .price_check {
    transition-property: all;
    transition-duration: 2s;
  }
  .bouton-choix {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 18px;
    line-height: 21.13px;
    color: #000000;
  }
  .validation_choix {
    opacity: 0;
    width: 0px;
    background-color: #99E2D0;
    text-align: center;
    margin-left: -80px;
    border-radius: 0px 15px 15px 0px;
    padding-top: 20px;
    padding-left: 10px;
    transition-property: all;
    transition-duration: 2s;
  }
  .menu_validation:hover .validation_choix {
    opacity: 1;
    width: 80px;
    margin-left: 0px;
  }
  .menu_validation:hover .price_check {
    margin-left: -50px;
  }
  .check {
    width: 20px;
    height: 20px;
    color: #99E2D0;
    border-radius: 50%;
    border: 1px #D9D9D9 solid;
    text-align: center;
    background: white;
    margin-right: 10px;
    padding: 2px;
  }
  .commander {
    text-align: center;
  }
  .menu-rating .like {
    font-size: 25px;
    margin-top: 15px;
    margin-right: 20px;
    opacity: 1;
    color: #9747ff;
  }
  .menu-rating .full-heart {
    display: none;
    font-size: 25px;
    margin-top: 15px;
    margin-right: 20px;
    opacity: 1;
    color: #9747ff;
    transition-property: all;
    transition-duration: 2s;
  }
  .menu-rating:hover .full-heart {
    display: block;
  }
  .menu-rating:hover .like {
    display: none;
  }
  /****** Footer ***********/
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 120px;
    margin-top: 0px;
    height: 114px;
    padding-top: 40px;
  }
  footer .footer_choix {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-left: 40px;
  }
  footer .footer_logo {
    font-family: shrinkland;
    font-style: italic;
    font-size: 24px;
    color: #FFFFFF;
  }
  footer .footer_img {
    padding-top: 20px;
  }
  footer footer_texte {
    white-space: nowrap;
  }
}/*# sourceMappingURL=palette.css.map */