@charset "UTF-8";
/****** General ***********/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* HTML: <div class="loader"></div> */
.loader {
  width: 100%;
  aspect-ratio: 1;
  color: #514b82;
  position: absolute;
  animation: cache 2s forwards;
}

@keyframes cache {
  0% {
    display: block;
  }
  100% {
    display: none;
    height: 100%;
  }
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(currentColor 0 0) 0 calc(var(--s, 0) * -100%)/100% 33.3333333333%, repeating-linear-gradient(90deg, currentColor 0 25%, rgba(0, 0, 0, 0) 0 50%) calc(var(--s, 0) * 100%) 50%/133.3333333333% 33.3333333333%;
  background-repeat: no-repeat;
  animation: loader 2s infinite;
  animation-delay: 1s;
}

.loader::after {
  --s:-1;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  10% {
    transform: translateY(calc(var(--s, 1) * 0));
    background-position: 0 calc(var(--s, 0) * -100%), calc(var(--s, 0) * 100%) 50%;
  }
  33% {
    transform: translateY(calc(var(--s, 1) * -20%));
    background-position: 0 calc(var(--s, 0) * -100%), calc(var(--s, 0) * 100%) 50%;
  }
  66% {
    transform: translateY(calc(var(--s, 1) * -20%));
    background-position: 0 calc(var(--s, 0) * -100%), calc(var(--s, 0) * 100% + 100%) 50%;
  }
  90%, 100% {
    transform: translateY(calc(var(--s, 1) * 0));
    opacity: 0;
    display: none;
    background-position: 0 calc(var(--s, 0) * -100%), calc(var(--s, 0) * 100% + 100%) 50%;
  }
}
.loader {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
  position: absolute;
}

* {
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #9356DC;
  --main-bg-color: #FF79DA;
  --filter-bg-color: #99E2D0;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  max-width: 1440px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.card {
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  -o-object-fit: cover;
     object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/* Small devices (phones, less than 768px) */
/****** header ***********/
header {
  width: 100%;
}

header nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header .logo {
  position: absolute;
  font-family: "Shrinkhand", sans-serif;
  height: 36px;
  margin-top: 20px;
  text-align: center;
  width: 197px;
  font-family: "Shrinkhand", sans-serif;
  height: 36px;
  margin-top: 30px;
  text-align: center;
}

header .localisation {
  background: #EAEAEA;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 80px;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: 100%;
}

header .vector {
  color: #000000;
  font-size: 18px;
}

/****** réservation ***********/
.reservation {
  width: 100%;
  background: #F6F6F6;
  padding-bottom: 30px;
  margin-top: -15px;
}

.reservez {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
  width: 100%;
  text-align: center;
}

.explorer {
  text-align: center;
}

.explorer .btn_explorer {
  background-color: white;
  border: 2px #D9D9D9 solid;
  border-radius: 25px 25px 25px 25px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21.13px;
  color: #FFFFFF;
  text-align: center;
  height: 50px;
  box-sizing: border-box;
  background-image: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 15px;
  transition-property: all;
  transition-duration: 2s;
}

.explorer .btn_explorer:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2509803922);
  background-color: rgba(0, 0, 0, 0.8);
  background-image: linear-gradient(#FF79DA, #9356DC);
}

.texte_reservez {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #353535;
  padding-bottom: 30px;
}

/****** Fonctionnement ***********/
.fonctionnement {
  width: 100%;
}

.section-filtre {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background: none;
  margin-bottom: 50px;
  width: 95%;
}

.filtre-choix {
  display: flex;
  flex-direction: column;
  align-items: normal;
  gap: 15px;
  width: 95%;
  margin-left: 20px;
}

.bouton-choix {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21.13px;
  color: #000000;
  text-align: center;
}

.icone {
  color: #7E7E7E;
  text-align: center;
  font-size: 20px;
}

.icone1 {
  color: #9356DC;
  text-align: center;
  font-size: 20px;
}

.ellipse {
  width: 26px;
  height: 24px;
  color: #F6F6F6;
  border-radius: 50%;
  border: 1px #D9D9D9 solid;
  text-align: center;
  background: #9356DC;
  position: relative;
  margin-left: -15px;
  padding-top: 2px;
}

.bouton-filtre {
  background: #F6F6F6;
  border-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px 20px 20px 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 21.13px;
  color: #000000;
  text-align: center;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 15px;
}

.division-filtre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/****** restaurants ***********/
.restaurants {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  margin-top: 0px;
  width: 100%;
  background: #F6F6F6;
  padding-top: 30px;
  margin-left: 10px;
}

.new {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: #008766;
  position: absolute;
  background: #99E2D0;
  width: 61px;
  height: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  gap: 15px;
  background: #F6F6F6;
}

.restaurants-cards a {
  width: 100%;
}

.restaurants-cards .card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 20px 20px 20px 20px;
  position: relative;
}

.new {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: #008766;
  position: absolute;
  background: #99E2D0;
  width: 61px;
  height: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
  padding-right: 20px;
  right: 20px;
  top: 20px;
}

.restaurants-cards .card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15px;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 5px;
}

.restaurants-cards img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-cards .card-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}

.restaurants-cards .card-subtitle {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
}

.restaurants .afficher-plus {
  margin-top: 15px;
}

.card-rating .like {
  font-size: 25px;
  margin-top: 15px;
  margin-right: -27px;
  position: relative;
  opacity: 1;
  transition-property: all;
  transition-duration: 2s;
  color: solid rgba(255, 250, 250, 0);
}

.card-rating .full-heart {
  opacity: 0;
  font-size: 25px;
  margin-top: 15px;
  margin-right: 20px;
  color: #9747ff;
  transition-property: all;
  transition-duration: 5s;
}

.card-rating:hover .full-heart {
  opacity: 1;
}

.card-rating:hover .like {
  opacity: 0;
}

.card-rating .full-heart2 {
  font-size: 25px;
  margin-top: 15px;
  margin-right: -27px;
  position: relative;
  opacity: 1;
  color: #9747ff;
  transition-property: all;
  transition-duration: 2s;
}

.card-rating .like2 {
  opacity: 0;
  font-size: 25px;
  margin-top: 15px;
  margin-right: 20px;
  color: #9747ff;
  transition-property: all;
  transition-duration: 2s;
}

.card-rating:hover .full-heart2 {
  opacity: 0;
}

.card-rating:hover .like2 {
  opacity: 1;
}

/****** footer ***********/
footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 50px;
  background-color: #353535;
  padding-left: 20px;
  height: 200px;
}

footer .footer_choix {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.proposition_partenaire {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mentions_contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .footer_logo {
  font-family: shrinkland;
  font-style: italic;
  font-size: 24px;
  color: #FFFFFF;
}

footer .proposition {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 15px;
}

footer .partenaire {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

footer .fork {
  font-size: 16px;
  color: #FFFFFF;
}

footer .hand {
  font-size: 16px;
  color: #FFFFFF;
}

footer .texte_footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  width: 100%;
  white-space: nowrap;
}

fooeter legal_footer {
  text-overflow: clip;
  text-align: center;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Large devices (tablets, desktop less/equal than 1440px) */
@media (min-width: 1024px) {
  /****** réservation ***********/
  .reservation .reservez {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
    width: 100%;
  }
  .reservation .texte_menu {
    font-weight: 700;
    font-size: 40px;
    line-height: 46.88px;
    text-align: center;
  }
  /****** restaurants ***********/
  .restaurants {
    width: 100%;
    padding-bottom: 30px;
    background: #F6F6F6;
  }
  .new {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.41px;
    color: #008766;
    position: absolute;
    background: #99E2D0;
    width: 61px;
    height: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
    right: 20px;
    top: 20px;
  }
  .restaurants-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 75%;
    padding-left: 200px;
    gap: 120px;
    background: #F6F6F6;
  }
  .restaurants-title {
    width: 75%;
    padding-left: 200px;
  }
  .restaurants-cards .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    background-color: #FFFFFF;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
  }
  .restaurants-cards img {
    width: 100%;
    height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: -30px;
  }
  .restaurants-cards .card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    background: #FFFFFF;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    padding: 0px 15px 0px 15px;
    gap: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  .restaurants-cards .card-title {
    margin-top: 10px;
  }
  .restaurants-cards .card-subtitle {
    margin: 0;
  }
  .card-txt {
    display: flex;
    flex-direction: column;
  }
  .restaurants-cards .card-rating {
    margin-bottom: 5px;
  }
  /****** Fonctionnement ***********/
  .fonctionnement {
    width: 70%;
    padding-left: 200px;
    padding-bottom: 30px;
  }
  .bouton-filtre {
    background-color: #F6F6F6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    border-radius: 20px 20px 20px 20px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21.13px;
    color: #000000;
    text-align: center;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background: #F6F6F6;
  }
  .filtre-choix {
    display: flex;
    flex-direction: row;
    align-items: normal;
    width: 95%;
    gap: 30px;
  }
  .bouton-choix {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21.13px;
    color: #000000;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 40px;
  }
  /****** Footer ***********/
  footer {
    display: flex;
    flex-direction: row-reverse;
    gap: 120px;
    margin-top: 0px;
    height: 114px;
    padding-top: 40px;
    justify-content: right;
    padding-right: 20px;
  }
  footer .footer_choix {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  footer .proposition_partenaire {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  footer .mentions_contact {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  footer .footer_logo {
    font-family: shrinkland;
    font-style: italic;
    font-size: 24px;
    color: #FFFFFF;
  }
  footer .footer_img {
    padding-top: 20px;
  }
  footer footer_texte {
    white-space: nowrap;
  }
}
/****** Media queries ***********/
/* medium devices (tablets, desktop less/equal than 767.98 px) *//*# sourceMappingURL=styles.css.map */